.DS_Store

ThinClientG13-mobile/**/*.iml
ThinClientG13-mobile/.gradle
ThinClientG13-mobile/local.properties
ThinClientG13-mobile/.idea/workspace.xml
ThinClientG13-mobile/.idea/libraries
ThinClientG13-mobile/build
ThinClientG13-mobile/captures

Server/main.pyc
Server/venv/
Server/.idea/
Server/__pycache__/
